h1 {
  margin-top: 10px;
}

#button {
  margin-bottom: 10px;
}

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap);
body {
	font-family: 'Noto Sans Japanese', sans-serif;
}